textarea:focus,
input:focus,
input[type]:focus {
  border-color: $trustfuel-blue;
  outline: 0 none;
}

label {
  font-weight: normal;
}

.form-control {
  @include placeholder {
    color: $c3;
    font-style: italic;
  }
}

.input-group-addon {
  background-color: $navy-2;
}

.borderless-form {
  .form-control {
    @include transition(.5s);
    color: $c1;
    border: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;

    &.input-lg {
      height: 50px;
    }

    @include placeholder {
      color: $c3;
      font-style: italic;
    }

    &:hover {
      border: 1px solid $c4;
    }

    &:focus {
      border-color: $trustfuel-blue;
    }
  }
}

.checkmark-icon {
  position: absolute;
  z-index: 100;
  top: 13px;
  left: 13px;
}

.Select-control {
  border-color: #ccc;
}

.is-open > .Select-control {
  border-color: #ccc;
}

.is-focused:not(.is-open) > .Select-control {
  border-color: $trustfuel-blue;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(27, 186, 200, 0.6);
}

.Select--multi .Select-value {
    background-color: $trustfuel-blue-20;
    border: 1px solid $trustfuel-blue-50;
    color: $c1;
}


.segmented-control {
  a {
  text-align: center;
  color: $c2;
  }

  .active {
    color: $white;
  }

  input[type="radio"] {
    display: none;
  }

  .list-group-item {
      display: inline-block;
  }

  .list-group-item {
  	margin-bottom: 0;
  	margin-left:-4px;
  	margin-right: 0;
  }

  .list-group-item {
    border: 1px solid $c4;

    &:first-child {
    	border-top-left-radius:21px;
    	border-bottom-left-radius:21px;
    }

    &:last-child {
    	border-top-right-radius:21px;
    	border-bottom-right-radius:21px;
    }
  }
}
